# Ansible requirementss
paramiko
PyYAML
jinja2
httplib2
passlib
six

# These are needed for various optional features
#python-memcached
#redis

# Test requirements
unittest2
mock
nose
cryptography>=39.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
