#
# Test requirements
#

nose
mock >= 1.0.1, < 1.1
passlib
coverage
coveralls
unittest2
redis
python-memcached
python-systemd
pycrypto
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
